<div class="cws-footer">
    <footer class="footer container">
        <div class="region region-footer">
        <section id="block-block-4" class="block block-block clearfix">

            <div id="footer-contact">
                <strong>Contact Us</strong><br>
                Center for Watershed Sciences<br>
                Watershed Sciences Building, 1st Floor<br>
                University of California, Davis<br>
                One Shields Ave.<br>
                Davis, CA 95616<br>
                PHONE (530) 754-9133<br>
                FAX (530) 754-9364<br>
            </div>
            
            <div id="footer-media">
                <strong>News Media</strong><br>
                Kat Kerlin<br>
                UC Davis News and Media Relations<br>
                <a href="mailto:kekerlin@ucdavis.edu" target="_top">kekerlin@ucdavis.edu</a><br>
                PHONE: (530) 752-7704<br>
                CELL: (530) 750-9195<br>
            </div>

            <div id="footer-links">
                <strong>Quick Links</strong>
                <ul>
                    <li><a href="https://watershed.ucdavis.edu/about">About the CWS</a></li>
                    <li><a href="https://watershed.ucdavis.edu/about/directions">Directions to the CWS</a></li>
                    <li><a href="https://watershed.ucdavis.edu/news">News and Announcements</a></li>
                    <li><a href="https://watershed.ucdavis.edu/education/water-primer">Educational Resources</a></li>
                </ul>
            </div>
        </section>
        <section id="block-block-5" class="block block-block clearfix">
            <div class="footer-regents">Copyright &copy; The Regents of the University of California, Davis, 2005-2016. All Rights Reserved.</div>
        </section>
        </div>
    </footer>
</div>