<header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="logo navbar-btn pull-left" href="https://watershed.ucdavis.edu" title="Home">
            <img src="/assets/images/cws_logo_48.png" alt="Home" />
            </a>


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first leaf"><a href="/" title="News and Announcements">Home</a></li>
                    <li class="first leaf"><a href="/maps" title="News and Announcements">Maps</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div id="cws-page"></div>