<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.github.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.github.url }}/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Nitrates Phase 1</h1>
        <p>This projects distributes the phase 1 nitrates data.  This is mostly access to the data used to create the technical report figures.</p>

        <p class="view"><a href="https://github.com/ucd-cws/nitrates-phase1">View the Project on GitHub <small>ucd-cws/nitrates-phase1</small></a></p>


        <ul>
          <li><a href="https://github.com/ucd-cws/nitrates-phase1/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/ucd-cws/nitrates-phase1/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/ucd-cws/nitrates-phase1">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
	{{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/ucd-cws">ucd-cws</a></p>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
